body {
  font-family: 'helvetica neue';
  font-size: 13px;
}

.roads {
  path {
    fill: none;
    stroke-width: 1px;
    stroke: #fff;
  }

  [data-highway="secondary"], [data-highway="trunk"] {
    stroke-width: 2px;
  }
}

path.boundary {
  fill: #00DCC2;
}

#boundary-mask {
  fill: #fff;
    stroke-width: 10px;
    stroke: #fff;
}

path.trip {
  fill: none;
  stroke-width: 1.5px;
  stroke: #888;
  stroke-linecap: round;
  stroke-linejoin: round;
}
