@import "bourbon";

body {
  font-family: 'helvetica neue';
  font-size: 13px;
  margin: 0;
  padding: 0;
  color: #444;
}

a {
  color: #116AA9;
}

ul a {
  // https://crbug.com/439820
  outline: none;
}

header {
  background-color: #eee;
  border-bottom: 1px solid #ccc;

  padding: 1em 2em;

  font-size: 1.2em;

  a {
    color: #444;
    text-decoration: none;
    font-weight: bold;
    margin-right: 2em;
  }
}

#content {
  padding: 3em;
}

h1 {
  margin-top: 0;
}

footer {
  margin: 1em;
  text-align: center;
  font-size: 0.8em;
  color: #cecece;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    margin-bottom: 0.3em;
  }
}

.way-map {
  position: relative;
  display: inline-block;

  .way-hover-info {
    position: absolute;
    // just kinda inside somerville
    top: 350px;
    left: 400px;

    padding: 0.4em;
    margin: 0.8em;
    background: #eee;
    box-shadow: 3px 3px 0 0 #dfdfdf;
    font-weight: bold;
  }
}

.video-list {
  @include display(flex);
  @include flex-wrap(wrap);

  & > div {
    @include flex-shrink(0);
    padding: 0.4em;
    margin: 0.8em;
    background: #eee;
    box-shadow: 3px 3px 0 0 #dfdfdf;

    .video-name {
      color: #ccc;
    }
  }
}

.map-box svg {
  border: 1px solid #ccc;
  box-shadow: 3px 3px 0 0 #dfdfdf;
}

.roads {
  path {
    fill: none;
    stroke-width: 1px;
    stroke: #fff;

    &.selected {
      stroke-width: 5px;
      stroke: #116AA9;
    }
  }

  [data-highway="secondary"], [data-highway="trunk"] {
    stroke-width: 2px;
  }
}

path.boundary {
  fill: #00DCC2;
}

#boundary-mask {
  fill: #fff;
    stroke-width: 10px;
    stroke: #fff;
}

path.trip {
  fill: none;
  stroke-width: 1.5px;
  stroke: #888;
  stroke-linecap: round;
  stroke-linejoin: round;
}

path.contour {
  fill: none;
  stroke-width: 1px;
  stroke: lighten(#00DCC2, 3%);
}

circle.position {
  fill: #fff;
  stroke: none;
}

path.extent {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}
