.stylized-map {
  .roads {
    path {
      fill: none;
      stroke-width: 1px;
      stroke: #fff;

      &.selected {
        stroke-width: 5px;
        stroke: #116aa9;
      }
    }

    [data-highway='secondary'],
    [data-highway='trunk'] {
      stroke-width: 2px;
    }
  }

  path.boundary {
    fill: #00dcc2;
  }

  path.trip {
    fill: none;
    stroke-width: 1.5px;
    stroke: #888;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  circle.position {
    fill: #fff;
    stroke-width: 1px;
    stroke: #116aa9;
  }

  path.extent {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
  }

  path.contour {
    fill: none;
    stroke-width: 1px;
    stroke: #55b7a6;
  }

  &.loading-animation {
    opacity: 0.3;

    path {
      stroke-dashoffset: 1000;
      stroke-dasharray: 100;
      animation: dash 10s linear;
    }

    @keyframes dash {
      to {
        stroke-dashoffset: 0;
      }
    }
  }
}
